@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
}   

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(120deg, rgba(32, 6, 6, 0.8), rgba(236, 77, 77, 0.219)), url(./background.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    height: 100px;
}

a{
    text-decoration: none;
    color: white;
}

.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: white
}

ul{
    position: relative;
    height: 100%;
    margin-right: 0;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li{
    display: flex;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100%;
}


.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.219);
    
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.664);
    margin: 0 50px;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

h3{
    font-size: 1.8em;
    font-weight: 400;
    padding: 10px 0;
}

.company-name{
    font-size: 3em;
    padding-left: 20px;
}

@media (max-width: 930px){
    .company-name{
        font-size: 1.5em;
        padding-left: 20px;
    }   
}

.title{
    font-size: 3em;
}

.section-introduction, .section-types, .section-features, .section-contact{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}


.title-features, .title-types, .title-introduction, .title-products, .title-contact{
    font-family: 'Titillium Web', sans-serif;
    width: 70%;
    text-align: center;
    border-top: 2px solid rgb(58, 58, 58);
    padding-top: 30px;
    letter-spacing: 0.08em;
    font-weight: 300;
    font-size: 2.2em;
}

.title-introduction{
    border-top: 0;
}

.description-introduction{
    width: 70%;
    padding: 30px;
}

.introduction, .feature-description{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}



.type-buttons{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 60px 0;
}

.type-btn, .contratar-btn{
    min-width: 200px;
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    border: 3px solid rgb(77, 77, 77);
    padding: 35px;
    margin: 20px;  
    color: white;
    font-size: 1.3em; 
    text-justify: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.type-btn:hover{
    background-color: rgba(255, 255, 255, 0.103);
}



.features, .products{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.feature, .product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img{
    width: 100px;
}

.feature-img{
    font-size: 1.5em;
}

#barato, #puntual, #confiable{
    font-size: 5em;
}

footer{
    background-color: rgb(22, 6, 6);
    height: 10vh;
    padding: 50px;
    border-top: 2px solid rgba(212, 81, 81, 0.644);
    color: white;
    display: flex;
    justify-content: flex-start;
}

.extra{
    width: 100%;
    display: flex;
    align-items: center;
}



.social-media{
    display: flex;
    align-items: center;
}

h4{
    padding-left: 20px;
    font-size: 1.2em;
    display: inline-block;
}

.redes{
    padding-left: 20px;
    font-size: 2em;
    cursor: pointer;
}

.copyright{
    margin-left: auto;
    margin-right: 0;
}
