@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

form{
    margin: 200px;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(15, 15, 15, 0.699);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white
}

h3{
    align-self: center;
}

label{
    font-size: 1.1em;
    margin-bottom: 5px;
}

input, select{
    margin-bottom: 10px;
    width: 500px;
    height: 40px;
    padding: 15px;
    line-height: 1em;
    background-color: rgb(58, 58, 58);
    outline: none;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
}

select{
    padding: 5px;
    height: 70px;
}

.send{
    margin-top: 20px;
    background-color: rgb(15, 156, 15) ;
    border: none;
    transition: all 0.3s ease;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send:hover{
    background-color: rgb(6, 114, 6);
    color: rgb(250, 250, 250);
    
}

footer{
    position: fixed;
    margin-top: 100px;
    bottom: 0;
} 

.container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 10;
}

.success-icon{
    font-size: 3em;
    color:rgb(15, 156, 15);
}

.error-icon{
    font-size: 3em;
    color:rgb(156, 15, 15);
}

.response{
    color:white;
}
