/* Navegacion */
#inicio{
    border-bottom: none;
}

#servicios{
    border-bottom: 2px solid white;
}

#nosotros{
    border-bottom: none;
}
/*fin de navegacion*/

.section-products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contratar-btn{
    outline: none;
}

.contratar-btn:hover{
    background-color: rgb(21, 138, 46);
    color: rgb(255, 255, 255);
}

.section-introduction{
    margin-top: 100px;
}

